.detail-component{
    .app-header{
        .title{
            color:#ffffff;
        }
        select{
            margin: 16px auto;
            border: 0;
            padding: 8px;
            background: unset;
            color: white;

            option {
                margin: 40px auto;
                background: #c8bbd4;
                color: #523479;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
                text-align: center;

                &:active{
                    background: #dc3545;
                }
            }

        }

        .chart-container{
            canvas{
             
                // Large devices (desktops, 992px and up)
                @media (min-width: 992px){  
                    max-width: 50% !important;
                }
                
                width: 100%;
                max-width:80%;
                margin: 32px auto;
            }
            .chart-inner{
                top: -192px;
                position: relative;
                margin-bottom: -192px;
                padding: 20px;      
                
                h3{
                    color:#ffffff;
                }
            }
        }
    }
    .content{
        background-color: #f7f7f7;        
        padding: 8px;

       
    }

    
    small{
        font-size: 0.9em !important;
    }
}
