<div class="detail-component">
    <div class="d-flex flex-column app-header">
        <select  class="pt-0 pb-0" (change)="open($event.target.value)">
            <option *ngFor="let category of categories" value="{{category[1].link}}">{{ category[1].name}}</option>
        </select>  
        <h3 class="align-self-center title">{{total | currency: 'USD'}}</h3>          
    </div>
    <div class="row m-sm-0 m-md-5 p-0 content">
        <div class="col p-0">
            <a href="#" class="list-group-item list-group-item-action" *ngIf="category.items.length < 1">
                <div class="d-flex flex-column justify-content-between lign-items-center text-center">                
                <h5 class="mb-1">Oh no :(</h5>
                <p>You didnt registered any expenses</p>
                </div>             
            </a>             
            <accordion [isAnimated]="true" class="list-group">
                <accordion-group [isOpen]="true" *ngFor="let date of category.items" >
                    <div accordion-heading class="d-flex flex-column">
                        <label class="title">{{date?.date | date : 'dd MMM, yyyy'}}</label>
                        <label class="align-self-center">Day balance {{date?.total | currency: 'USD'}}</label>
                    </div>
                    <a class="list-group-item list-group-item-action " *ngFor="let item of date?.items">    
                        <div class="d-flex w-100 justify-content-between lign-items-center p-sm-2 p-md-0">
                            <h5 class="mb-1">{{item?.name}}</h5>
                            <small>{{item?.value | currency: 'USD'}}</small>
                        </div>            
                    </a>       
                </accordion-group>  
            </accordion>
   
        </div>
    </div>
</div>
