<form>
    <div class="form-group">
        <label for="inputCategory">Category</label>
        <select class="form-control" id="inputCategory"  aria-describedby="categoryHelp">
            <option *ngFor="let category of categories" value="{{category[0]}}">{{category[1].name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputDate">Date</label>
        <input type="date" class="form-control" id="inputDate" aria-describedby="dateHelp">
        <small id="dateHelp" class="form-text text-muted">You can choose past date</small>
    </div>
    <div class="form-group">
        <label for="inputValue">Value</label>
        <input type="number" class="form-control" id="inputValue" aria-describedby="valueHelp">
        <small id="valueHelp" class="form-text text-muted">The value of expense</small>
    </div>
    <div class="form-group">
        <label for="inputLocation">Location</label>
        <input type="text" class="form-control" id="inputLocation"  aria-describedby="locationHelp">
        <small id="locationHelp" class="form-text text-muted">Ex: Starbucks, MC Donalds</small>
    </div>
    
</form>