::ng-deep  ng-autocomplete{
    .autocomplete-container{
        box-shadow: unset;
        
        &.active{
            // Extra small devices (portrait phones, less than 576px)
            @media (max-width: 767.98px) {           
                width: 100%;
                background: #523479ad;
                display: block;
                height: calc(100vh - 66px);
                top: 0;
                left: 0;
                position: absolute;
                padding: 32px;
            }
        }
        .input-container{

            input{
                font-size: 1.2em !important;
            }
        }
        
        .suggestions-container{
            width: calc(100vw - 36px) !important;
            li{
                div{
                    div{
                        fa{
                            padding:0 16px;
                            color: #523479 !important;
                        }

                        a{
                            padding-left: 0;
                        }

                    }
                }
            }
        }
    }
}

::ng-deep  accordion{
    width: 100% !important;
    &-group{       
        .card{
            padding: 0 !important;
            background: #ffffff !important;

            .card-header{
                border-bottom: 0 !important;
                background: unset !important;
                padding: 0 !important;
            }

        }
        .panel{
            background:unset !important;           
            .panel-body{
                .list-group-item{
                    border: 0 !important;
                    margin-top:24px;
                    padding: 0 1.5rem !important;
                }
            }            
        }
    }
}

form{
    .form-group{        
        &.header{
            background-color: #523479;
            padding-top: 64px;
            padding-bottom: 32px;
            input{
                border: 0;
                background: unset;
                font-size: 32px;
                color:#ffffff;

                &::placeholder{
                    color:#ffffff;
                }
            }
        }

        input, .ng-autocomplete{
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            padding-top: 0;
            margin-left: 8px;

            ng-autocomplete{
                display: block;
                margin: 0 !important;
                width: 100%;
            }
        }    
        
        input:read-only{
            background: unset;
        }

        fa{
            margin-right: 8px;
            color: #dae1e7;
        }
       
       
    }    
}