<div class="row m-0 financial-lists">
    <div class="col p-0">
        <a href="#" class="list-group-item list-group-item-action" *ngIf="items.length < 1">
            <div class="d-flex flex-column justify-content-between lign-items-center text-center">                
            <h5 class="mb-1">Oh no :(</h5>
            <p>You didnt registered any expenses</p>
            </div>             
        </a> 
        <div class="list-group">
                
            <a class="list-group-item list-group-item-action" 
            *ngFor="let item of items"  routerLink="/{{item.category.link}}/details">    
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <fa name="{{item?.category?.icon}}"></fa>
                <h4 class="mb-1 flex-grow-1">{{item?.category?.name}}</h4>
                <small>{{item?.total | currency: 'USD'}} </small>
                <fa name="angle-right"></fa>
                </div>             
            </a>         
        </div>      
    </div>
</div>