.financial{
    &-header{
        background-color:#523479;   
        border-radius: 0px;     

        .container{
            .nav-pills{
                .nav-item{
                    .nav-link{
                        border: solid 1px #ffffff7a;
                        margin: 16px;
                        border-radius: 22px;
                        color:#ffffff7a;

                        &.active{
                            color:#ffffff;
                            background-color: unset;
                            border-width: 2px;
                            border-color: #ffffff;
                            font-weight: 600;
                        }
                    }                
                }
            }

            .nav-tabs{
                border-bottom: 0px;
                .nav-item{
                    .nav-link{

                        &.active{
                            color: #d6c6ef;
                            font-weight: 500;
                            border-bottom: solid 4px #1e73cc;
                            background-color: unset;
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                        }

                        color: #ffffff7a;
                    }
                }
            }
            .display-4{
                color:#ffffff;
            }

            .lead{
                color:#ffffff;
            }
        }
    }

    &-lists{
        .list-group{
            height: calc(100vh - 282px);
            overflow: scroll;
            scroll-behavior: smooth;

            .list-group-item{
                padding: 1.5rem;
                h5{
                    color:#6a5a80;
                    font-size: 1.15rem;
                    font-weight: 400;
                }
                
                fa{
                    background: #f74386;
                    font-size: 1.5em;
                    padding: 8px;
                    color: #ffffff;
                    border-radius: 5px;
                    width: 2em;
                    text-align: center;          
                }
            }
        }
    }
}