<div class="container-fluid p-0">
  <div class="d-flex justify-content-between app-header">
     <fa name="navicon" class="icon"></fa>
      <h5 class="pt-3 pb-3 app-link" routerLink="home">Home Financial App</h5>
      <fa name="plus" class="icon" (click)="open(new)"></fa>
  </div>
  <ng-template #new>
      <div class="d-flex justify-content-between app-header"> 
          <fa name="angle-left" class="icon" (click)="modalRef.hide()"></fa>        
           <h5 class="p-3 app-link pull-lef">Register</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-md-offset-3">
                <app-new-expense>      
                </app-new-expense>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-default btn-sm-block align-self-center" (click)="modalRef.hide()">Save</button>
        </div>
 
  </ng-template>
  <router-outlet></router-outlet>
</div>